/* Setting Up */

@font-face {
    font-family: "OpenSans";
    src: url(../UniversalFiles/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
}
@font-face {
    font-family: "Nunito";
    src: url(../UniversalFiles/fonts/Nunito/Nunito-VariableFont_wght.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6, p{
    font-family: "OpenSans";
}

*{
    /* Margin Set to 0 so header can touch edge of page */
    margin: 0px;
}

body{
    background: url("./images/icons/OrangeBackground.svg");
}

main{
    /* set default text color to black*/
    color: #000000;
}

main p {
    margin: 3px;
}

.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}

/* Start of Header CSS */

nav{
    font-family: "OpenSans";
    background-color: #F55914;

    padding: 10px;
    width: 100%;

    border-bottom: #F53010 solid 3px;

    /* Fixes Header to Top of Screen */
    position: fixed;
    top: 0;
}
.headerFlexBox{
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
}
.logoText{
    margin-right: 5px;
}
.logoText{
    padding: 5px;
}
nav h3{
    padding: 3px;
    color: black;
    font-weight: 800;
    font-family: "Nunito";
    font-size: 1.3rem;
}
.navBarLink{
    text-align: center;
    color: black;
    font-weight: 500;
    margin: 0px 3px;

    border-radius: 0px;
}
.navBarLinkDiv{
    padding: 10px 15px;
}
.navBarLink:hover{
    /* Create an area behind the link when you hover over it so it looks like a button */
    background-color: #F58014;
    border-radius: 8px;
}

/* Allows nav bar to look nice at smaller screen sizes */
@media (max-width: 500px) {
    .headerFlexBox{
        flex-wrap: wrap;
        justify-content: center;
    }
    .logoAndLogoText{
        width: 100%;
    }
}

/* End of Nav Bar CSS, still in header */

.focusImage{
    width: 100%;
    height: auto;
}

.focusImage img{
    width: 100%;
    height: 100%;
}
/* End of Header CSS */
/* Start of Content CSS */

.contentSection{
    margin: 8px;
}
.contentSection img{
    margin: 10px 10px 10px 0; /*top right bottom left*/
}
.contentSection p{
    text-indent: 4rem;
}
.contentSection img{
    width: 30%;
    min-width: 180px;
    height: auto;
}
.sections12 p {
    text-indent: 0px;
}
/* Makes the text not float around each other weirdly when screen too big */
@media (min-width: 1600px) {
    /* Section 2 is left alone to create variety in page design */
    .section1 > img, .section3 > img{
        float: none;
    }
}
/* End of Content CSS */
/* Start of Footer CSS */

.footerBorder{
    height: 5px;
    border-width: 0;
    color: #000000;
    background-color: #000000;
}
footer{
    background-color: #F58014;
    color: #000000;
}
.footerContainer{
    font-size: 1.1rem;
    display: flex;

    align-items: center;
    justify-content: space-evenly;
}
.legalStuff{
    margin: 25px 20px;
}
.socialMedias{
    /* Makes list tag not look like a list */
    list-style: none;
}
.socialMedias > li {
    display: inline;
}
footer a{
    color: #000000;
}

.footerBottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
button:hover{
    background-color: #F5AB65;
}