@font-face {
    font-family: "OpenSans";
    src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6, p{
    font-family: "OpenSans";
}

*{
    margin: 0px;
}

body{
    background: url("./images/icons/GreenBackground.svg");
}

main{
    color: #086100;
}

.crossedOut{
    text-decoration: line-through;
}
.green{
    color: #3A9632;
}
.floatLeft{
    float: left;
}

nav{
    font-family: "OpenSans";
    background-color: #405D3E;

    padding: 10px;
}
nav a {
    text-decoration: none;
}
.headerFlexBox{
    display: flex;
    align-items: center;
}
.logoAndLogoText{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
div.logoDiv{
    padding: 5px;
}
nav h3{
    padding: 3px;
    color: white;
}
.navBarLink{
    text-align: center;
    color: white;
    margin: 0px 3px;

    border-radius: 0px;
}
.navBarLinkDiv{
    padding: 10px 15px;
}
.navBarLink:hover{
    background-color: #3A6B36;
    border-radius: 8px;
}
.activePage{
    color: #0CF550;
}

@media (max-width: 500px) {
    .headerFlexBox{
        flex-wrap: wrap;
        justify-content: center;
    }
    .logoAndLogoText{
        width: 100%;
    }
}

.focusImage{
    width: 100%;
    height: auto;
}

.focusImage img{
    width: 100%;
    height: 100%;
}

.tagLine{
    display: flex;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 150px;
    height: 150px;

    --focus-img-height: 100;
    --focus-img-height-inpx: calc(1px * var(--focus-img-height));

    position: absolute;
    top: calc(var(--focus-img-height-inpx) - 90px);
    left: 10px;
}
.tagLine > h2{
    width: 100%;
    text-align: center;
}
@media (max-width: 550px) {
    .tagLine{
        /* Moves tag line underneath the focusImage */
        position: static;
        margin: auto;
    }
}

.contentSection{
    margin: 8px;
}
.contentSection img{
    margin: 5px;
}
.contentSection p{
    text-indent: 4rem;
}
.sections12{
    display: flex;
    flex-wrap: nowrap;
}
.sections12 img{
    width: 50%;
    min-width: 180px;
    height: auto;
}
.sections12 p {
    text-indent: 0px;
}
@media (max-width: 650px) {
    .sections12{
    
        flex-wrap: wrap;
    }
}


.footerBorder{
    height: 5px;
    border-width: 0;
    color: #2B332B;
    background-color: #2B332B;
}
footer{
    background-color: #405D3E;
    color: white;
}
.footerContainer{
    font-size: 1.1rem;
    display: flex;

    align-items: center;
    justify-content: space-evenly;
}
footer svg{
    color: white;
}
.legalStuff{
    margin: 35px 20px;
}
.socialMedias{
    list-style: none;
}
.socialMedias > li {
    display: inline;
}
footer a{
    color: #0CF550;
}

.footerBottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
button:hover{
    background-color: #0CF550;
    color: #2B332B;
}